{% extends 'base_layout.html' %}

{% block content %}
<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 fw-bold display-2 border-bottom">Service Desk</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://img.freepik.com/foto-gratis/fondo-futurista-abstracto-diseno-3d_1361-3532.jpg?t=st=1653888935~exp=1653889535~hmac=bff7a1d60480d32616e8237cf4ab721c11bc1e75a4f7d81a96c655ea6f2907bb&w=1800');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Seguimiento Mobil</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://www.coherent.com/content/dam/coherent/site/en/images/photography/support/technical-support/support-technical-support.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Solucion a tu medida</h2>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('https://img.freepik.com/foto-gratis/fondo-cosmico-luces-laser-azul-claro-oscuro-perfecto-fondo-pantalla-digital_181624-23690.jpg?t=st=1653888935~exp=1653889535~hmac=2fe941605f2ca755270c90f7d48de74f2dbd815e9d5beb0dbf93368ace8b4ca6&w=1380');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Continuidad operativa</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}